body{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  vertical-align: middle;
}

.glb-topo {
  border-bottom: 1px solid hsla(0,0%,51%,.2);
  margin-bottom: 1.25rem;
}

.App-title {
  font-size: 2.5em;
  color: #0669de;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
